<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
</head>

<body onload="notLoggedInCheck(); displayUserProfile(); showExpiredProducts(); inactivityTimer();">

    <!-- Begin page -->
    <div id="wrapper">

        <%- include('../partials/topBar') %>

            <%- include('leftSideBar') %>

                <!-- ============================================================== -->
                <!-- Start Page Content here -->
                <!-- ============================================================== -->

                <div class="content-page">
                    <div class="content">

                        <!-- Start Content-->
                        <div class="container-fluid">

                            <!-- start page title -->
                            <div class="row">
                                <div class="col-12">
                                    <div class="page-title-box">
                                        <div class="page-title-right">
                                            <ol class="breadcrumb m-0">
                                                <li class="breadcrumb-item"><a href="javascript: void(0);">Protrack</a>
                                                </li>
                                                <li class="breadcrumb-item active">Dashboard</li>
                                            </ol>
                                        </div>
                                        <h4 class="page-title">Welcome to Protrack!</h4>
                                    </div>
                                </div>
                            </div>
                            <!-- end page title -->

                            <div class="row">
                                <div class="col-xl-12">
                                    <!-- Portlet card -->
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="card-widgets">
                                                <a href="javascript: void(0);" data-toggle="reload" id="refresh"><i
                                                        class="mdi mdi-refresh"></i></a>
                                                <a data-toggle="collapse" href="#cardCollpase6" role="button"
                                                    aria-expanded="false" aria-controls="cardCollpase6"><i
                                                        class="mdi mdi-minus"></i></a>
                                                <a href="javascript: void(0);" data-toggle="remove"><i
                                                        class="mdi mdi-close"></i></a>
                                            </div>
                                            <h4 class="header-title mb-0">Monthly Revenue Chart</h4>

                                            <div id="cardCollpase6" class="collapse pt-3 show" dir="ltr">
                                                <div id="monthly-revenue" class="apex-charts"></div>
                                            </div> <!-- collapsed end -->
                                        </div> <!-- end card-body -->
                                    </div> <!-- end card-->
                                </div> <!-- end col-->
                            </div>

                            <div class="row">
                                <div class="col-xl-12">
                                    <!-- Portlet card -->
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="card-widgets">
                                                <a href="javascript: void(0);" data-toggle="reload" id="refresh"><i class="mdi mdi-refresh"></i></a>
                                                <a data-toggle="collapse" href="#cardCollpase7" role="button" aria-expanded="false"
                                                    aria-controls="cardCollpase7"><i class="mdi mdi-minus"></i></a>
                                                <a href="javascript: void(0);" data-toggle="remove"><i class="mdi mdi-close"></i></a>
                                            </div>
                                            <h4 class="header-title mb-0">Best Selling Product Chart</h4>
                            
                                            <div id="cardCollpase7" class="collapse pt-3 show" dir="ltr">
                                                <div id="best-selling-product" class="apex-charts"></div>
                                            </div> <!-- collapsed end -->
                                        </div> <!-- end card-body -->
                                    </div> <!-- end card-->
                                </div> <!-- end col-->
                            </div>

                            <div class="row">
                                <div class="col-xl-12">
                                    <!-- Portlet card -->
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="card-widgets">
                                                <a href="javascript: void(0);" data-toggle="reload" id="refresh"><i class="mdi mdi-refresh"></i></a>
                                                <a data-toggle="collapse" href="#cardCollpase8" role="button" aria-expanded="false"
                                                    aria-controls="cardCollpase8"><i class="mdi mdi-minus"></i></a>
                                                <a href="javascript: void(0);" data-toggle="remove"><i class="mdi mdi-close"></i></a>
                                            </div>
                                            <h4 class="header-title mb-0">Financial Loss On Products</h4>
                            
                                            <div id="cardCollpase8" class="collapse pt-3 show" dir="ltr">
                                                <div id="financial-loss-on-products" class="apex-charts"></div>
                                            </div> <!-- collapsed end -->
                                        </div> <!-- end card-body -->
                                    </div> <!-- end card-->
                                </div> <!-- end col-->
                            </div>

                            <div class="row">
                                <div class="col-xl-12">
                                    <!-- Portlet card -->
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="card-widgets">
                                                <a href="javascript: void(0);" data-toggle="reload" id="refresh"><i class="mdi mdi-refresh"></i></a>
                                                <a data-toggle="collapse" href="#cardCollpase9" role="button" aria-expanded="false"
                                                    aria-controls="cardCollpase9"><i class="mdi mdi-minus"></i></a>
                                                <a href="javascript: void(0);" data-toggle="remove"><i class="mdi mdi-close"></i></a>
                                            </div>
                                            <h4 class="header-title mb-0">Daily Financial loss Chart</h4>

                                            <select id="monthSelectToolbar"
                                                style="padding-right:2px; font-size:12px; border: 1px solid #ccc; border-radius: 4px; background:white; margin-right:560px">
                                                <option value="0">Jan</option>
                                                <option value="1">Feb</option>
                                                <option value="2">Mar</option>
                                                <option value="3">Apr</option>
                                                <option value="4">May</option>
                                                <option value="5">Jun</option>
                                                <option value="6">Jul</option>
                                                <option value="7">Aug</option>
                                                <option value="8">Sep</option>
                                                <option value="9">Oct</option>
                                                <option value="10">Nov</option>
                                                <option value="11">Dec</option>
                                            </select>
                            
                                            <div id="cardCollpase9" class="collapse pt-3 show" dir="ltr">
                                                <div id="daily-financial-loss-this-month" class="apex-charts"></div>
                                            </div> <!-- collapsed end -->
                                        </div> <!-- end card-body -->
                                    </div> <!-- end card-->
                                </div> <!-- end col-->
                            </div>


                            <div class="row">
                                <div class="col-xl-3 col-md-6" id="sales-count">
                                    <div class="widget-bg-color-icon card-box">
                                        <div class="avatar-lg rounded-circle bg-icon-success float-left">
                                            <i class="mdi mdi-cart font-24 avatar-title text-white"></i>
                                        </div>
                                        <div class="text-right">
                                            <h3 class="text-dark mt-1"><span class="counter"></span></h3>
                                            <p class="text-muted mb-0">Sales Count</p>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>

                                <div class="col-xl-3 col-md-6" id="sales-income-total">
                                    <div class="widget-bg-color-icon card-box">
                                        <div class="avatar-lg rounded-circle bg-icon-danger float-left">
                                            <i class="mdi mdi-currency-usd font-24 avatar-title text-white"></i>
                                        </div>
                                        <div class="text-right">
                                            <h3 class="text-dark mt-1"><span class="counter"></span></h3>
                                            <p class="text-muted mb-0">Total Income From Sales</p>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>

                                <div class="col-xl-3 col-md-6" id="sales-income-total-this-month">
                                    <div class="widget-bg-color-icon card-box">
                                        <div class="avatar-lg rounded-circle bg-icon-danger float-left">
                                            <i class="mdi mdi-currency-usd font-24 avatar-title text-white"></i>
                                        </div>
                                        <div class="text-right">
                                            <h3 class="text-dark mt-1"><span class="counter"></span></h3>
                                            <p class="text-muted mb-0">Total Income From Sales This Month</p>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>

                                <div class="col-xl-3 col-md-6" id="sales-income-total-today">
                                    <div class="widget-bg-color-icon card-box">
                                        <div class="avatar-lg rounded-circle bg-icon-danger float-left">
                                            <i class="mdi mdi-currency-usd font-24 avatar-title text-white"></i>
                                        </div>
                                        <div class="text-right">
                                            <h3 class="text-dark mt-1"><span class="counter"></span></h3>
                                            <p class="text-muted mb-0">Total Income From Sales Today</p>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                            <!-- end row -->

                            <div class="row">
                                <div class="col-xl-3 col-md-6" id="active-products-count">
                                    <div class="widget-bg-color-icon card-box">
                                        <div class="avatar-lg rounded-circle bg-icon-primary float-left">
                                            <i class="mdi mdi-tag font-24 avatar-title text-white"></i>
                                        </div>
                                        <div class="text-right">
                                            <h3 class="text-dark mt-1"><span class="counter"></span></h3>
                                            <p class="text-muted mb-0">Active Products</p>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>

                                <div class="col-xl-3 col-md-6" id="reorder-level-products-count">
                                    <div class="widget-bg-color-icon card-box">
                                        <div class="avatar-lg rounded-circle bg-icon-info float-left">
                                            <i class="mdi mdi-reload font-24 avatar-title text-white"></i>
                                        </div>
                                        <div class="text-right">
                                            <h3 class="text-dark mt-1"><span class="counter"></span></h3>
                                            <p class="text-muted mb-0">Products Requiring Reorder</p>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>

                                <div class="col-xl-3 col-md-6" id="product-brands-count">
                                    <div class="widget-bg-color-icon card-box">
                                        <div class="avatar-lg rounded-circle bg-icon-success float-left">
                                            <i class="mdi mdi-certificate font-24 avatar-title text-white"></i>
                                        </div>
                                        <div class="text-right">
                                            <h3 class="text-dark mt-1"><span class="counter"></span></h3>
                                            <p class="text-muted mb-0">Product Brands</p>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>

                                <div class="col-xl-3 col-md-6" id="product-categories-count">
                                    <div class="widget-bg-color-icon card-box">
                                        <div class="avatar-lg rounded-circle bg-icon-success float-left">
                                            <i class="mdi mdi-server font-24 avatar-title text-white"></i>
                                        </div>
                                        <div class="text-right">
                                            <h3 class="text-dark mt-1"><span class="counter"></span></h3>
                                            <p class="text-muted mb-0">Product Categories</p>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                            <!-- end row -->

                            <div class="row">
                                <div class="col-xl-3 col-md-6" id="purchase-orders-count">
                                    <div class="widget-bg-color-icon card-box">
                                        <div class="avatar-lg rounded-circle bg-icon-warning float-left">
                                            <i class="mdi mdi-format-list-checks font-24 avatar-title text-white"></i>
                                        </div>
                                        <div class="text-right">
                                            <h3 class="text-dark mt-1"><span class="counter"></span></h3>
                                            <p class="text-muted mb-0">Purchase Orders</p>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>

                                <div class="col-xl-3 col-md-6" id="total-expenditure-from-purchase-orders">
                                    <div class="widget-bg-color-icon card-box">
                                        <div class="avatar-lg rounded-circle bg-icon-info float-left">
                                            <i class="mdi mdi-currency-usd font-24 avatar-title text-white"></i>
                                        </div>
                                        <div class="text-right">
                                            <h3 class="text-dark mt-1"><span class="counter"></span></h3>
                                            <p class="text-muted mb-0">Expenditure On Purchases</p>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>

                                <div class="col-xl-3 col-md-6" id="total-expenditure-from-purchase-orders-this-month">
                                    <div class="widget-bg-color-icon card-box">
                                        <div class="avatar-lg rounded-circle bg-icon-primary float-left">
                                            <i class="mdi mdi-currency-usd font-24 avatar-title text-white"></i>
                                        </div>
                                        <div class="text-right">
                                            <h3 class="text-dark mt-1"><span class="counter"></span></h3>
                                            <p class="text-muted mb-0">Expenditure On Purchases This Month</p>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>

                                <div class="col-xl-3 col-md-6" id="total-expenditure-from-purchase-orders-today">
                                    <div class="widget-bg-color-icon card-box">
                                        <div class="avatar-lg rounded-circle bg-icon-success float-left">
                                            <i class="mdi mdi-currency-usd font-24 avatar-title text-white"></i>
                                        </div>
                                        <div class="text-right">
                                            <h3 class="text-dark mt-1"><span class="counter"></span></h3>
                                            <p class="text-muted mb-0">Expenditure On Purchases Today</p>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                            <!-- end row -->

                            <div class="row">
                                <div class="col-xl-3 col-md-6" id="active-stores-count">
                                    <div class="widget-bg-color-icon card-box">
                                        <div class="avatar-lg rounded-circle bg-icon-success float-left">
                                            <i class="mdi mdi-home-group font-24 avatar-title text-white"></i>
                                        </div>
                                        <div class="text-right">
                                            <h3 class="text-dark mt-1"><span class="counter"></span></h3>
                                            <p class="text-muted mb-0">Active Stores</p>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>

                                <div class="col-xl-3 col-md-6" id="total-income">
                                    <div class="widget-bg-color-icon card-box">
                                        <div class="avatar-lg rounded-circle bg-icon-info float-left">
                                            <i class="mdi mdi-bank-plus font-24 avatar-title text-white"></i>
                                        </div>
                                        <div class="text-right">
                                            <h3 class="text-dark mt-1"><span class="counter"></span></h3>
                                            <p class="text-muted mb-0">Total Income</p>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>

                                <div class="col-xl-3 col-md-6" id="total-income-this-month">
                                    <div class="widget-bg-color-icon card-box">
                                        <div class="avatar-lg rounded-circle bg-icon-primary float-left">
                                            <i class="mdi mdi-bank-plus font-24 avatar-title text-white"></i>
                                        </div>
                                        <div class="text-right">
                                            <h3 class="text-dark mt-1"><span class="counter"></span></h3>
                                            <p class="text-muted mb-0">Total Income This Month</p>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>

                                <div class="col-xl-3 col-md-6" id="total-income-today">
                                    <div class="widget-bg-color-icon card-box">
                                        <div class="avatar-lg rounded-circle bg-icon-purple float-left">
                                            <i class="mdi mdi-bank-plus font-24 avatar-title text-white"></i>
                                        </div>
                                        <div class="text-right">
                                            <h3 class="text-dark mt-1"><span class="counter"></span></h3>
                                            <p class="text-muted mb-0">Total Income Today</p>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                            <!-- end row -->

                            <div class="row">
                                <div class="col-xl-4 col-md-6" id="total-expenditure">
                                    <div class="widget-bg-color-icon card-box">
                                        <div class="avatar-lg rounded-circle bg-icon-primary float-left">
                                            <i class="mdi mdi-bank-minus font-24 avatar-title text-white"></i>
                                        </div>
                                        <div class="text-right">
                                            <h3 class="text-dark mt-1"><span class="counter"></span></h3>
                                            <p class="text-muted mb-0">Total Expenditure</p>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>

                                <div class="col-xl-4 col-md-6" id="total-expenditure-this-month">
                                    <div class="widget-bg-color-icon card-box">
                                        <div class="avatar-lg rounded-circle bg-icon-info float-left">
                                            <i class="mdi mdi-bank-minus font-24 avatar-title text-white"></i>
                                        </div>
                                        <div class="text-right">
                                            <h3 class="text-dark mt-1"><span class="counter"></span></h3>
                                            <p class="text-muted mb-0">Total Expenditure This Month</p>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>

                                <div class="col-xl-4 col-md-6" id="total-expenditure-today">
                                    <div class="widget-bg-color-icon card-box">
                                        <div class="avatar-lg rounded-circle bg-icon-pink float-left">
                                            <i class="mdi mdi-bank-minus font-24 avatar-title text-white"></i>
                                        </div>
                                        <div class="text-right">
                                            <h3 class="text-dark mt-1"><span class="counter"></span></h3>
                                            <p class="text-muted mb-0">Total Expenditure Today</p>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                            <!-- end row -->

                            <div class="row">
                                <div class="col-xl-4 col-md-6" id="super-admin-users-count">
                                    <div class="widget-bg-color-icon card-box">
                                        <div class="avatar-lg rounded-circle bg-icon-success float-left">
                                            <i class="mdi mdi-account-group font-24 avatar-title text-white"></i>
                                        </div>
                                        <div class="text-right">
                                            <h3 class="text-dark mt-1"><span class="counter"></span></h3>
                                            <p class="text-muted mb-0">Super Admins</p>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>

                                <div class="col-xl-4 col-md-6" id="admin-users-count">
                                    <div class="widget-bg-color-icon card-box">
                                        <div class="avatar-lg rounded-circle bg-icon-danger float-left">
                                            <i class="mdi mdi-account-group font-24 avatar-title text-white"></i>
                                        </div>
                                        <div class="text-right">
                                            <h3 class="text-dark mt-1"><span class="counter"></span></h3>
                                            <p class="text-muted mb-0">Admins</p>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>

                                <div class="col-xl-4 col-md-6" id="cashier-users-count">
                                    <div class="widget-bg-color-icon card-box">
                                        <div class="avatar-lg rounded-circle bg-icon-warning float-left">
                                            <i class="mdi mdi-account-group font-24 avatar-title text-white"></i>
                                        </div>
                                        <div class="text-right">
                                            <h3 class="text-dark mt-1"><span class="counter"></span></h3>
                                            <p class="text-muted mb-0">Cashiers</p>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                            <!-- end row -->



                            <div class="row">

                                <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                                    <div class="card-box">
                                        <h4 class="header-title mb-3">Expired Products</h4>

                                        <table class="table activate-select dt-responsive" id="expired-products">

                                            <thead class="thead-light">
                                                <tr>
                                                    <th>SNO</th>
                                                    <th>Product</th>
                                                    <th>Brand</th>
                                                    <th>Category</th>
                                                    <th>Store</th>
                                                    <th>Current Qty</th>
                                                    <th>Reorder Level</th>
                                                    <th>Batch Number</th>
                                                    <th>Measuring Unit</th>
                                                    <th>Price</th>
                                                    <th>Expiration Date / Time</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div> <!-- end card-box-->
                                </div> <!-- end col -->

                                <div class="col-xl-9 col-lg-9 col-md-9 col-12">
                                    <div class="card-box">
                                        <h4 class="header-title mb-3">Recent Reorder Level Products</h4>

                                        <table class="table activate-select dt-responsive" id="reorder-level-products">

                                            <thead class="thead-light">
                                                <tr>
                                                    <th>SNO</th>
                                                    <th>Product</th>
                                                    <th>Brand</th>
                                                    <th>Category</th>
                                                    <th>Store</th>
                                                    <th>Current Qty</th>
                                                    <th>Reorder Level</th>
                                                    <th>Batch Number</th>
                                                    <th>Measuring Unit</th>
                                                    <th>Price</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div> <!-- end card-box-->
                                </div> <!-- end col -->

                                <!-- INBOX -->
                                <div class="col-xl-3 col-lg-3 col-md-3 col-12">
                                    <div class="card-box">
                                        <h4 class="header-title mb-3">Recent Activities</h4>

                                        <div class="inbox-widget slimscroll timeline-line" style="height: 340px;"></div>
                                    </div>

                                </div> <!-- end col -->

                                <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                                    <div class="card-box">
                                        <h4 class="header-title mb-3">Discounted Products Aproaching Expiry</h4>
                                
                                        <table class="table activate-select dt-responsive" id="discounted-products">
                                
                                            <thead class="thead-light">
                                                <tr>
                                                    <th>SNO</th>
                                                    <th>Product</th>
                                                    <th>Brand</th>
                                                    <th>Category</th>
                                                    <th>Store</th>
                                                    <th>Current Qty</th>
                                                    <th>Reorder Level</th>
                                                    <th>Batch Number</th>
                                                    <th>Measuring Unit</th>
                                                    <th>Original Price</th>
                                                    <th>Current Price</th>
                                                    <th>Discount Rate</th>
                                                    <th>Expiry Date</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div> <!-- end card-box-->
                                </div> <!-- end col -->

                            </div>
                            <!-- end row -->

                            <div class="row">

                                <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                                    <div class="card-box">
                                        <h4 class="header-title mb-3">Recent Sales</h4>

                                        <table class="table activate-select dt-responsive" id="recent-sales">

                                            <thead class="thead-light">
                                                <tr>
                                                    <th>SNO</th>
                                                    <th>Store</th>
                                                    <th>Invoice ID</th>
                                                    <th>Cashier</th>
                                                    <th>Gross Total</th>
                                                    <th>VAT</th>
                                                    <th>Discount</th>
                                                    <th>Net Total</th>
                                                    <th>Date / Time</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div> <!-- end card-box-->
                                </div> <!-- end col -->

                            </div> <!-- container -->

                        </div> <!-- content -->

                        <%- include('../partials/footer') %>

                    </div>

                    <!-- ============================================================== -->
                    <!-- End Page content -->
                    <!-- ============================================================== -->


                </div>
                <!-- END wrapper -->

                <!-- Right bar overlay-->
                <div class="rightbar-overlay"></div>

                <%- include('../partials/js') %>

                    <!--Apex Chart-->
                    <script src="/assets/libs/apexcharts/apexcharts.min.js"></script>

                    <!-- Sparkline charts -->
                    <script src="/assets/libs/jquery-sparkline/jquery.sparkline.min.js"></script>

                    <!-- page script -->
                    <script src="/assets/js/pages/admin/index.js"></script>

</body>

</html>