<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
</head>

<body onload="notLoggedInCheck(); displayUserProfile(); showExpiredProducts();">

    <!-- Begin page -->
    <div id="wrapper">

        <%- include('../partials/topBar') %>

            <%- include('leftSideBar') %>

                <!-- ============================================================== -->
                <!-- Start Page Content here -->
                <!-- ============================================================== -->

                <div class="content-page">
                    <div class="content">

                        <!-- Start Content-->
                        <div class="container-fluid">

                            <!-- start page title -->
                            <div class="row">
                                <div class="col-12">
                                    <div class="page-title-box">
                                        <div class="page-title-right">
                                            <ol class="breadcrumb m-0">
                                                <li class="breadcrumb-item"><a href="javascript: void(0);">Dashboard</a>
                                                </li>
                                                <li class="breadcrumb-item active">Sales</li>
                                            </ol>
                                        </div>
                                        <h4 class="page-title">Sales</h4>
                                    </div>
                                </div>
                            </div>
                            <!-- end page title -->

                            <!-- Form row -->
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card-box">
                                        <h4 class="header-title">Invoice Filter</h4>
                                        <p class="sub-header">
                                            Please note that all fields marked with red asteriks(*) are required
                                        </p>

                                        <form action="#" id="filter">
                                            <div class="form-row">
                                                <div class="form-group col-md-4">
                                                    <label for="cashier_id">Cashier</label>
                                                    <select class="selectpicker form-control" id="cashier_id"
                                                        name="cashier_id" data-live-search="true">
                                                        <option value="">All</option>
                                                    </select>
                                                </div>
                                                <div class="form-group col-md-4">
                                                    <label for="payment_mode">Payment Mode</label>
                                                    <select class="selectpicker form-control" id="payment_mode"
                                                        name="payment_mode" data-live-search="true">
                                                        <option value="">All</option>
                                                        <option value="Cash Payment">Cash Payment</option>
                                                        <option value="Card Payment">Card Payment</option>
                                                        <option value="Bank Transfer">Bank Transfer</option>
                                                    </select>
                                                </div>
                                                <div class="form-group col-md-4">
                                                    <label for="status">Status</label>
                                                    <select class="selectpicker form-control" id="status" name="status"
                                                        data-live-search="true">
                                                        <option value="">All</option>
                                                        <option value="Paid">Paid</option>
                                                        <option value="Unpaid">Unpaid</option>
                                                        <option value="Incomplete Payment">Incomplete Payment</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="form-group col-md-6">
                                                    <label for="datepicker">Activity Start Time (OPTIONAL)</label>
                                                    <input type="text" id="datepicker" name="start_time"
                                                        class="form-control" data-provide="datepicker"
                                                        autocomplete="off">
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label for="datepicker">Activity End Time (OPTIONAL)</label>
                                                    <input type="text" id="datepicker1" name="end_time"
                                                        class="form-control" data-provide="datepicker"
                                                        autocomplete="off">
                                                </div>
                                            </div>
                                            <button type="submit" class="btn btn-success">Load Activities</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <!-- end row -->

                            <!-- Log table row -->
                            <div class="row">
                                <div class="col-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <h4 class="header-title">Sales Invoices</h4>
                                            <p class="text-muted font-13 mb-4">
                                                Click the edit or delete buttons attached to an invoice to update OR
                                                delete a record respectively
                                            </p>

                                            <table id="invoices" class="table activate-select dt-responsive">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Store</th>
                                                        <th>Invoice ID</th>
                                                        <th>Customer</th>
                                                        <th>Gross Total</th>
                                                        <th>Total Sales Tax</th>
                                                        <th>Total Discount</th>
                                                        <th>Net Total</th>
                                                        <th>Amount Paid</th>
                                                        <th>Due</th>
                                                        <th>Payment Method</th>
                                                        <th>Cashier</th>
                                                        <th>Date / Time</th>
                                                        <th>Status</th>
                                                        <th>Actions</th>
                                                    </tr>
                                                </thead>

                                                <tbody></tbody>
                                            </table>

                                        </div> <!-- end card body-->
                                    </div> <!-- end card -->
                                </div><!-- end col-->
                            </div>
                            <!-- end row -->

                            <!-- form development modal -->
                            <div id="salesModal" class="modal fade" tabindex="-1" role="dialog"
                                aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                                <div class="modal-dialog modal-dialog-centered modal-full">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title">New Order</h4>
                                            <button type="button" class="close" data-dismiss="modal"
                                                aria-hidden="true">×</button>
                                        </div>
                                        <div class="modal-body p-4">
                                            <!-- Form row -->
                                            <div class="row">
                                                <div class="col-md-12">

                                                    <form action="#" id="form-new-sales">
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <div class="card-box">
                                                                    <!-- Logo & title -->
                                                                    <div class="clearfix">
                                                                        <div class="float-left">
                                                                            <img src="../../assets/images/logo.png"
                                                                                alt="" height="60" class="store_logo">
                                                                        </div>
                                                                        <div class="float-right">
                                                                            <h4 class="m-0 d-print-none">Invoice</h4>
                                                                        </div>
                                                                    </div>
                                                                    <!-- <div class="clearfix"></div> -->

                                                                    <div class="row">
                                                                        <div class="col-md-6">
                                                                            <div class="mt-3">
                                                                                <p><b>Hello, <span
                                                                                            class="cashier"></span></b>
                                                                                </p>
                                                                                <p class="text-muted">You will be
                                                                                    required to click on the Orange ADD
                                                                                    BUTTON attached to an item to create
                                                                                    a new record of ordered item.
                                                                                    Similarly, click the Red MINUS
                                                                                    BUTTON to remove a record. Remember
                                                                                    to input only digits were neccessary
                                                                                </p>
                                                                            </div>

                                                                        </div><!-- end col -->
                                                                        <div class="col-md-4 offset-md-2">
                                                                            <div class="mt-3 float-right">
                                                                                <p class="m-b-10"><strong>Order Date :
                                                                                    </strong> <span class="float-right">
                                                                                        &nbsp;&nbsp;&nbsp;&nbsp; <span
                                                                                            class="order_date">Jan 17,
                                                                                            2019</span></span></p>
                                                                                <p class="m-b-10"><strong>Order Status :
                                                                                    </strong> <span
                                                                                        class="float-right"><span
                                                                                            class="badge badge-danger">Unpaid</span></span>
                                                                                </p>

                                                                                <div class="mt-3">
                                                                                    <input type="text"
                                                                                        class="form-control"
                                                                                        placeholder="Customer Name"
                                                                                        id="customer_name"
                                                                                        name="customer_name">
                                                                                </div>
                                                                            </div>
                                                                        </div><!-- end col -->
                                                                    </div>
                                                                    <!-- end row -->


                                                                    <!-- end row -->

                                                                    <div class="row">
                                                                        <div class="col-12">
                                                                            <div class="table-responsive">
                                                                                <table id="ordered-items-list"
                                                                                    class="table mt-4 table-centered">
                                                                                    <thead>
                                                                                        <tr>
                                                                                            <th style="width: 12.5%">
                                                                                                Item</th>
                                                                                            <th style="width: 12.5%">
                                                                                                Quantity In Stock</th>
                                                                                            <th style="width: 12.5%">
                                                                                                Quantity Ordered</th>
                                                                                            <th style="width: 12.5%">
                                                                                                Unit Price</th>
                                                                                            <th style="width: 12.5%">
                                                                                                Product Sales Tax Rate
                                                                                            </th>
                                                                                            <th style="width: 12.5%">
                                                                                                Product Discount Rate
                                                                                            </th>
                                                                                            <th style="width: 12.5%">Sub
                                                                                                Total</th>
                                                                                            <th style="width: 12.5%">
                                                                                                Actions</th>
                                                                                        </tr>
                                                                                    </thead>
                                                                                    <tbody>
                                                                                        <tr data-row-id="1">
                                                                                            <td id="tr_1">
                                                                                                <!-- <div class="form-group"> -->
                                                                                                <select
                                                                                                    class="selectpicker form-control form-control-sm required product_id"
                                                                                                    name="product_id"
                                                                                                    data-live-search="true">
                                                                                                    <option value="">
                                                                                                        Choose Product
                                                                                                    </option>
                                                                                                </select>
                                                                                                <!-- </div> -->
                                                                                            </td>
                                                                                            <td>
                                                                                                <input type="number"
                                                                                                    class="form-control required product_stock"
                                                                                                    placeholder="Quantity in stock"
                                                                                                    name="product_stock"
                                                                                                    value="0" readonly>
                                                                                            </td>
                                                                                            <td>
                                                                                                <input type="number"
                                                                                                    class="form-control quantity_ordered required"
                                                                                                    placeholder="Quantity Ordered"
                                                                                                    name="quantity_ordered"
                                                                                                    value="0">
                                                                                            </td>
                                                                                            <td>
                                                                                                <input type="number"
                                                                                                    class="form-control product_unit_price required"
                                                                                                    placeholder="Product Unit Price"
                                                                                                    name="product_unit_price"
                                                                                                    value="0" readonly>
                                                                                            </td>
                                                                                            <td>
                                                                                                <input type="number"
                                                                                                    class="form-control product_vat_rate required"
                                                                                                    placeholder="Product Sales Tax Rate"
                                                                                                    name="product_vat_rate"
                                                                                                    value="0" readonly>
                                                                                            </td>
                                                                                            <td>
                                                                                                <input type="number"
                                                                                                    class="form-control product_discount_rate required"
                                                                                                    placeholder="Product Discount Rate"
                                                                                                    name="product_discount_rate"
                                                                                                    value="0" readonly>
                                                                                            </td>
                                                                                            <td>
                                                                                                <input type="number"
                                                                                                    class="form-control sub_total required"
                                                                                                    placeholder="Sub Total"
                                                                                                    name="sub_total"
                                                                                                    value="0" readonly>
                                                                                            </td>
                                                                                            <td>
                                                                                                <!-- <div class="d-print-none"> -->
                                                                                                <a href="javascript:void(0)"
                                                                                                    class="btn btn-add  btn-warning btn-sm waves-effect waves-light"><i
                                                                                                        class="mdi mdi-plus"></i></a>
                                                                                                <a href="javascript:void(0)"
                                                                                                    class="btn btn-remove btn-danger btn-sm waves-effect waves-light"><i
                                                                                                        class="mdi mdi-minus"></i></a>
                                                                                                <!-- </div> -->
                                                                                            </td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </div> <!-- end table-responsive -->
                                                                        </div> <!-- end col -->
                                                                    </div>
                                                                    <!-- end row -->

                                                                    <div class="row">
                                                                        <div class="col-sm-6">
                                                                            <div class="float-left">
                                                                                <div class="mt-3">
                                                                                    <input type="text"
                                                                                        class="form-control required"
                                                                                        placeholder="Amount Paid"
                                                                                        id="invoice_paid_amount"
                                                                                        name="invoice_paid_amount"
                                                                                        readonly>
                                                                                </div>
                                                                                <div class="mt-3">
                                                                                    <input type="text"
                                                                                        class="form-control"
                                                                                        placeholder="Due"
                                                                                        id="invoice_due"
                                                                                        name="invoice_due" value="0"
                                                                                        readonly>
                                                                                </div>

                                                                                <select
                                                                                    class="form-control form-control-sm selectpicker required mt-3"
                                                                                    id="invoice_payment_method"
                                                                                    name="invoice_payment_method"
                                                                                    data-live-search="true">
                                                                                    <option value="">Choose Payment
                                                                                        Method</option>
                                                                                    <option value="Cash Payment">Cash
                                                                                        Payment</option>
                                                                                    <option value="Card Payment">Card
                                                                                        Payment</option>
                                                                                    <option value="Bank Transfer">Bank
                                                                                        Transfer</option>
                                                                                </select>
                                                                            </div>
                                                                            <div class="clearfix"></div>
                                                                            <div class="clearfix pt-5">
                                                                                <h6 class="text-muted">Notes:</h6>

                                                                                <small class="text-muted">
                                                                                    Please note that you will not have
                                                                                    access to edit / update this invoice
                                                                                    after submission. Endeavor to
                                                                                    cross-check entry before submitting.
                                                                                    You can only delete and start afresh
                                                                                    after submission.
                                                                                </small>
                                                                            </div>
                                                                        </div> <!-- end col -->
                                                                        <div class="col-sm-6">
                                                                            <div class="float-right summary">
                                                                                <p><b>Gross Total:</b> <span
                                                                                        class="float-right">
                                                                                        &nbsp;&nbsp;&nbsp;
                                                                                        <span>NGN</span> <span
                                                                                            class="invoice_gross_total"
                                                                                            data-value="0">0</span></p>
                                                                                <h3><span>NGN</span> <span
                                                                                        class="invoice_net_total"
                                                                                        data-value="0">0</h3>
                                                                            </div>
                                                                            <div class="clearfix"></div>
                                                                        </div> <!-- end col -->
                                                                    </div>
                                                                    <!-- end row -->
                                                                </div> <!-- end card-box -->
                                                            </div> <!-- end col -->
                                                        </div>

                                                </div>
                                            </div>
                                            <!-- end row -->
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary waves-effect"
                                                data-dismiss="modal">Close</button>
                                            <button type="submit"
                                                class="btn btn-info waves-effect waves-light btn-submit">Create
                                                Invoice</button>
                                        </div>
                                        </form>
                                    </div>
                                </div>
                            </div><!-- /.modal -->

                            <!-- edit modal -->
                            <div id="printModal" class="modal fade" tabindex="-1" role="dialog"
                                aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                                <div class="modal-dialog modal-dialog-centered modal-xl">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title"></h4>
                                            <button type="button" class="close" data-dismiss="modal"
                                                aria-hidden="true">×</button>
                                        </div>
                                        <div class="modal-body p-4">
                                            <div class="row print-area">
                                                <div class="col-12">
                                                    <div class="card-box">
                                                        <!-- Logo & title -->
                                                        <div class="clearfix">
                                                            <div class="float-left">
                                                                <img src="../../assets/images/logo.png" alt=""
                                                                    height="60" class="store_logo">
                                                            </div>
                                                            <div class="float-right">
                                                                <h4 class="m-0">Sales Receipt</h4>
                                                            </div>
                                                            <div class="clearfix"></div>
                                                            <div class="float-right">
                                                                <h5 class="m-0 invoice-uuid" style="font-weight:900">
                                                                </h5>
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="mt-3">
                                                                    <!-- <p>
																<b>
																	Hello,
																	<span class="customer-name"></span>
																</b>
															</p> -->
                                                                    <p class="text-muted">
                                                                        Thanks a lot because you keep purchasing our
                                                                        products. Our company
                                                                        promises to provide high quality products for
                                                                        you as well as outstanding
                                                                        customer service for every transaction.
                                                                    </p>
                                                                </div>

                                                            </div><!-- end col -->
                                                            <div class="col-md-4 offset-md-2">
                                                                <div class="mt-3 float-right">
                                                                    <p class="m-b-10">
                                                                        <strong>Order Date : </strong>
                                                                        <span class="float-right">
                                                                            &nbsp;&nbsp;&nbsp;&nbsp;
                                                                            <span class="order-date"></span>
                                                                        </span>
                                                                    </p>
                                                                    <p class="m-b-10">
                                                                        <strong>Order Status : </strong>
                                                                        <span class="float-right order-status">
                                                                            <span
                                                                                class="badge badge-danger">Unpaid</span>
                                                                        </span>
                                                                    </p>
                                                                    <p class="m-b-10">
                                                                        <strong>Order No. : </strong>
                                                                        <span class="float-right invoice-id"> </span>
                                                                    </p>
                                                                    <p class="m-b-10">
                                                                        <strong>Store : </strong>
                                                                        <span class="float-right store"> </span>
                                                                    </p>
                                                                    <p class="m-b-10">
                                                                        <strong>Cashier : </strong>
                                                                        <span class="float-right cashier"> </span>
                                                                    </p>
                                                                </div>
                                                            </div><!-- end col -->
                                                        </div>
                                                        <!-- end row -->

                                                        <!-- end row -->
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <div class="table-responsive">
                                                                    <table class="table mt-4 table-centered"
                                                                        id="item-list">
                                                                        <thead>
                                                                            <tr>
                                                                                <th>#</th>
                                                                                <th>Item</th>
                                                                                <th>Measurement</th>
                                                                                <th>Quantity</th>
                                                                                <th>Unit Price</th>
                                                                                <th>Sales Tax</th>
                                                                                <th>Discount</th>
                                                                                <th>Remark</th>
                                                                                <th>Sub Total</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody></tbody>
                                                                    </table>
                                                                </div> <!-- end table-responsive -->
                                                            </div> <!-- end col -->
                                                        </div>
                                                        <!-- end row -->

                                                        <div class="row">
                                                            <div class="col-sm-6">
                                                                <div class="clearfix pt-5">
                                                                    <h6 class="text-muted">Notes:</h6>

                                                                    <small class="text-muted">
                                                                        All accounts are to be paid within 7 days from
                                                                        receipt of
                                                                        invoice. To be paid by cheque or credit card or
                                                                        direct payment
                                                                        online. If account is not paid within 7 days the
                                                                        credits details
                                                                        supplied as confirmation of work undertaken will
                                                                        be charged the
                                                                        agreed quoted fee noted above.
                                                                    </small>
                                                                </div>
                                                            </div> <!-- end col -->
                                                            <div class="col-sm-6">
                                                                <div class="float-right">
                                                                    <p>
                                                                        <b>Gross Total:</b>
                                                                        <span class="float-right"> &nbsp;&nbsp;&nbsp;
                                                                            <span>USD</span>
                                                                            <span class="invoice_gross_total">0</span>
                                                                        </span>
                                                                    </p>
                                                                    <p>
                                                                        <b>Total Sales Tax <span
                                                                                class="invoice_vat">(0%)</span>:</b>
                                                                        <span class="float-right">
                                                                            &nbsp;&nbsp;&nbsp;
                                                                            <span>USD</span>
                                                                            <span class="vat_amount">0</span>
                                                                        </span>
                                                                    </p>
                                                                    <p>
                                                                        <b>Total Discount
                                                                            <span class="invoice_discount">(0%)</span>:
                                                                        </b>
                                                                        <span class="float-right">
                                                                            &nbsp;&nbsp;&nbsp;
                                                                            <span>USD</span>
                                                                            <span class="discount_amount">0</span>
                                                                        </span>
                                                                    </p>
                                                                    <h3>
                                                                        <span>NGN</span>
                                                                        <span class="invoice_net_total">0</span>
                                                                    </h3>
                                                                </div>
                                                                <div class="clearfix"></div>
                                                            </div> <!-- end col -->
                                                        </div>
                                                        <!-- end row -->
                                                    </div> <!-- end card-box -->
                                                </div> <!-- end col -->
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary waves-effect"
                                                data-dismiss="modal">Close</button>
                                            <button type="button"
                                                class="btn btn-info waves-effect waves-light btn-print"><i
                                                    class="mdi mdi-printer mr-1"></i> Print Receipt</button>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- /.modal -->

                            <!-- product modal -->
                            <div id="productModal" class="modal fade" tabindex="-1" role="dialog"
                                aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                                <div class="modal-dialog modal-dialog-centered modal-xl">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title"></h4>
                                            <button type="button" class="close" data-dismiss="modal"
                                                aria-hidden="true">×</button>
                                        </div>
                                        <div class="modal-body p-4">
                                            <div class="row print-area">
                                                <div class="col-12">
                                                    <div class="card-box">
                                                        <!-- Logo & title -->
                                                        <div class="clearfix">
                                                            <div class="float-left">
                                                                <img src="../../assets/images/logo.png" alt=""
                                                                    height="60" class="store_logo">
                                                            </div>
                                                            <div class="float-right">
                                                                <h4 class="m-0 d-print-none">Product Report</h4>
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="mt-3">
                                                                    <p>

                                                                    </p>
                                                                    <p class="text-muted">

                                                                    </p>
                                                                </div>

                                                            </div><!-- end col -->
                                                            <div class="col-md-4 offset-md-2">
                                                                <div class="mt-3 float-right">
                                                                    <p class="m-b-10">
                                                                        <select
                                                                            class="form-control form-control-sm selectpicker required"
                                                                            id="product_id1" name="product_id"
                                                                            data-live-search="true">
                                                                            <option value="">Choose Product</option>
                                                                        </select>
                                                                    </p>
                                                                    <p class="m-b-10">
                                                                        <input type="text"
                                                                            class="form-control datepicker required"
                                                                            placeholder="Starting Date"
                                                                            id="starting_date" name="starting_date">
                                                                    </p>
                                                                    <p class="m-b-10">
                                                                        <input type="text"
                                                                            class="form-control datepicker required"
                                                                            placeholder="Ending Date" id="ending_date"
                                                                            name="starting_date">
                                                                    </p>
                                                                </div>
                                                            </div><!-- end col -->
                                                        </div>
                                                        <!-- end row -->

                                                        <!-- end row -->
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <div class="table-responsive">
                                                                    <table class="table mt-4 table-centered"
                                                                        id="product-report">
                                                                        <thead>
                                                                            <tr>
                                                                                <th>#</th>
                                                                                <th>Total Quantity</th>
                                                                                <th>Total Cost Price</th>
                                                                                <th>Total Selling Price</th>
                                                                                <th>Total Sales Tax</th>
                                                                                <th>Total Discount</th>
                                                                                <th>Balance From Sales</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody></tbody>
                                                                    </table>
                                                                </div> <!-- end table-responsive -->
                                                            </div> <!-- end col -->
                                                        </div>
                                                        <!-- end row -->

                                                        <div class="row">
                                                            <div class="col-sm-6">
                                                                <div class="clearfix pt-5">
                                                                    <h6 class="text-muted">Notes:</h6>

                                                                    <small class="text-muted">
                                                                        This is a product report generated for a
                                                                        specific time time frame.
                                                                    </small>
                                                                </div>
                                                            </div> <!-- end col -->
                                                        </div>
                                                        <!-- end row -->
                                                    </div> <!-- end card-box -->
                                                </div> <!-- end col -->
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary waves-effect"
                                                data-dismiss="modal">Close</button>
                                            <button type="button"
                                                class="btn btn-primary waves-effect waves-light btn-generate">Product
                                                Report</button>
                                            <button type="button"
                                                class="btn btn-info waves-effect waves-light btn-print"><i
                                                    class="mdi mdi-printer mr-1"></i> Print Report</button>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- /.modal -->

                        </div> <!-- container -->

                    </div> <!-- content -->

                    <%- include('../partials/footer') %>

                </div>

                <!-- ============================================================== -->
                <!-- End Page content -->
                <!-- ============================================================== -->

    </div>
    <!-- END wrapper -->

    <!-- Right bar overlay-->
    <div class="rightbar-overlay"></div>

    <%- include('../partials/js') %>

        <!-- page script -->
        <script src="/assets/js/pages/admin/sales.js"></script>

</body>

</html>